.donat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
    color: #464255;
    font-weight: bold;
}